body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
    background-color: #404345;
    font-family: Consolas, monaco, monospace;
    font-size: 0.8vw;
}

.content {
    width: 25vw;
    text-align: justify;
    padding: 0;
    margin: 10vh;
    color: #e4eaed;
    flex: 1;
    font-size: 0.65vw;
}

.header ,
.footer {
    background-color: #1b1a1c;
    color: #e4eaed;
    padding: 1vw 100vw;
    margin: 0;
    white-space: nowrap;
}

.header-title {
    text-align: center;
}

.blog-title {
    margin-top: 20vh;
    color: #000000;
    background-color: #e4eaed;
    padding: 1vh 100vh;
    white-space: nowrap;
    margin: 0;
}
